.box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/IMG/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
    padding-right: 10%;
    margin-top: -10%;

}

.box1 {
    padding-left: 55%;
    padding-top: 25%;
    padding-bottom: 15%;


}

@media screen and (max-width:745px) {
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .box1 {
        padding-left: 0%;
    }


}

.pie {
    background-color: #1E4155;
    padding-bottom: 1%;
   


}

ul.navega li {
    display: inline;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
       justify-content: center;


}

.navega li a {

    text-decoration: none;
    color: white;
    font-size: x-small;
    
}